:root {
    --white: #F4EEED;
    --peach: #D8AC9C;
    --olive: #B2B8A3;
    --brown: #C1AC95;
}

body {
    background-color: var(--white);
}

header nav {
    position: absolute;
    padding: 2em;
    z-index: 1;
}

.pic {
    float: right;
    margin: 0px;
    padding: 0x;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: var(--white); opacity: 0.8;
    border-radius: 15%;
    box-shadow: 0px 0px 0px 10px var(--olive); opacity: 0.6;
    margin: 0px;
    padding: 1em;
    list-style-type: none;
}

.hyperlink {
    position: relative;
    text-decoration: none;
    color: #C1AC95;
    font-size: 30px;
    font-weight: bold;
} 

header nav {
    position: relative;
}

a:link, a:visited {
    color: var(--peach);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    color: #9E7777;
}

/* start of main background section */
section nav {
    position: absolute;
    background-size: cover;
}

#radius {
    background-image: linear-gradient(#EFD9D1);
    filter: blur(1px);
}

.container {
    position: relative;
    top: 20px;
    text-align: center;
}

h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: American Typewriter, serif;
    font-size: 50px;
    background-color: transparent;
    margin: 10px;
    padding: 20px 40px;
    border: 4px solid #F4EEED;
    color: #FFECDA;
}

h1:link, h1:visited {
    background-color: var(--white);
    color: var(--peach);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
h1:hover, h1:active {
    background-color: #F4EEED;
    color: #9e7777;
}

/* start of about me section */
main {
    margin: 0px;
    padding: 200px;
    background-color: #FAEBE0;
}

.me {
    padding: 15px;
    padding-bottom: 50px;
    border: 1px solid var(--olive);
    border-radius: 2%;
    background-color: var(--olive);
}
/*.me {
    padding: 20px;
    border: 1px dotted var(--olive);
    border-radius: 15%;
}*/


h2 {
    margin-top: 50px;
    margin-right: 50px;
    float: right;
    color: var(--olive);
    font-size: 6em;
    text-align: center;
}

p {
    float: right;
    padding: 30px;
    color: #FAEBE0;
    background-color: var(--olive);
    font-size: 1em;
    text-align: center;
    width: 600px;
    font-family: American Typewriter, serif;
}


/* start of contact us section */
.section-parent {
    color: #FAEBE0;
    margin: 0px;
    padding: 80px;
    border: 5px;
    background: 90px var(--olive);
}

form ul {
    display: flex;
    justify-content: right;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}


h3 {
    float: left;
    text-align: justify;
    margin: 0px 40px;
    margin-left: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 65px;
}

.form {
    margin: 10px;
    padding: 70px;
}

.box {
    margin: 5px;
    padding: 6px 3px;
    width: 200px;
    border: 1px dashed var(--white);
    border-radius: 5%;
}

#submitBtn {
    float: right;
    margin: 10px;
    margin-right: 100px;
}

button {
    text-align: center;
    margin: 3px;
    padding: 10px;
    border: 1px solid var(--olive);
    border-radius: 10px;
    width: 100px;
}

.logo {
    color: #FAEBE0;
}

footer {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 900px) {
/* start of nav*/
    .navbar {
        display: flex;
        flex-direction: column;
        padding: 5px ;
    }

/* start of main*/
    h1 {
        display: flex;
        flex: wrap;
        margin: 10px;
        padding: 20px;
        font-size: 35px;
    }
/* about me*/
    h2 {
        padding: 0px;
        font-size: 45px;
    }

    p {
        padding: 20px;
        width: 300px;
        font-size: 15px;
    }

}

@media screen and (max-width: 600px) {
    h1 {
        padding: 20px;
        font-size: 25px;
    }
}